{% from 'bootstrap5/form.html' import render_form %}
{% extends 'base.html' %}
{% block content %}
  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        {% if form.__class__.__name__ == 'LoginForm' %}
          <h1 class="display-4 fw-bold lh-1 mb-3">Login</h1>
          <p class="col-lg-10 fs-4">Sign in to view your to-do lists and get stuff done!</p>
        {% else %}
          <h1 class="display-4 fw-bold lh-1 mb-3">Register</h1>
          <p class="col-lg-10 fs-4">Sign up to create to-do lists and get stuff done like never before!<br><br>Already have an account?</p>
          <a class="btn btn-outline-primary btn-lg mb-5" href="{{ url_for('login') }}">Login</a>
        {% endif %}
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        {% include 'components/flash_messages.html' %}
        <div data-turbo="false">
          <form class="p-4 p-md-5 border rounded-3 bg-light" method="post">
            {{ form.hidden_tag() }}
            {% if form.__class__.__name__ == 'RegisterForm' %}
              <div class="mb-3">
                {{ form.name.label(class_="form-label") }}
                {{ form.name(class_="form-control") }}
              </div>
            {% endif %}
            <div class="mb-3">
              {{ form.email.label(class_="form-label") }}
              {{ form.email(class_="form-control") }}
            </div>
            <div class="mb-3">
              {{ form.password.label(class_="form-label") }}
              {{ form.password(class_="form-control") }}
            </div>
            <div class="row gx-3">
              {% if form.__class__.__name__ == 'LoginForm' %}
                <div class="col-12 col-md-6 mt-3">
                  {{ form.submit(class_="btn btn-primary w-100") }}
                </div>
                <div class="col-12 col-md-6 mt-3">
                  <a class="btn btn-secondary w-100" href="{{ url_for('register') }}" type="link">Register</a>
                </div>
              {% else %}
                <div class="col-12 mt-3">
                  {{ form.submit(class_="btn btn-primary w-100") }}
                </div>
              {% endif %}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}