<li class="list-group-item">
  {% if editing == list.title %}
    <a class="bi bi-x-square text-danger me-3" href="{{ url_for('delete', list_item_id=item.id, route=list.route, view=view, editing=list.title, offset=request.args.get('offset')) }}"></a>
    <input class="list-input{{ ' text-decoration-line-through' if item.is_completed else ' text-danger' if item.due_date < today_date }}" type="text" name="text_{{ item.id }}" value="{{ item.text }}">
    <input class="date-input{{ ' text-decoration-line-through' if item.is_completed }}" type="date" name="date_{{ item.id }}" value="{{ item.due_date }}">
  {% else %}
    <a class="bi{{ ' bi-check-square-fill' if item.is_completed else ' bi-square' }} me-3" href="{{ url_for('toggle', list_item_id=item.id, route=list.route, view=view, offset=request.args.get('offset')) }}"></a>
    {% if item.due_date < today_date %}
      <span class="list-input{{ ' text-decoration-line-through' if item.is_completed else ' text-danger' }}">{{ item.text }}</span>
      {% if show_date %}
        <span class="date-input{{ ' text-decoration-line-through' if item.is_completed else ' text-danger' }}">{{ item.due_date.strftime('%b %-d') }}</span>
      {% endif %}
    {% else %}
      <span class="list-input{{ ' text-decoration-line-through' if item.is_completed }}">{{ item.text }}</span>
      {% if show_date %}
        {% if list.title == 'This Week' %}
          <span class="date-input{{ ' text-decoration-line-through' if item.is_completed }}">{{ item.due_date.strftime('%A') }}</span>
        {% elif list.title in ['This Month', 'Future'] or view == 'year' %}
          <span class="date-input{{ ' text-decoration-line-through' if item.is_completed }}">{{ item.due_date.strftime('%b %-d') }}</span>
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}
</li>